name: build

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Set up job
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          
      - name: Run generate-index.js
        run: node public/generate-index.js
        
      - name: Prepare build folder
        run: |
          mkdir -p build
          cp -r keenetic build/ || true
          cp -r public build/ || true
          cp LICENSE build/ || true
          
      - name: Deploy to GitHub Pages (pg_pages branch)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          destination_dir: .
          branch: pg_pages
          force_orphan: false

