name: Generate Packages

on:
  push:
    branches:
      - main
    paths:
      - 'keenetic/**/*.ipk'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Generate Packages files
        run: |
          node generate-index.js
      
      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add keenetic/**/Packages keenetic/**/Packages.gz
          git diff --staged --quiet || git commit -m "Auto-generate Packages files"
          git push

